<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="NegativeTestSuite" verbose="1">

<!--    <test name="NegativeUsernameTest-CH">-->
<!--        <parameter name="username" value="tomsmith"/>-->
<!--        <parameter name="password" value="SuperSecretPassword!"/>-->
<!--        <parameter name="browser" value="chrome"/>-->
<!--        <classes>-->
<!--            <class name="com.adam.theinternet.positiveTests">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="NegativeUsernameTest-FF">-->
<!--        <parameter name="username" value="tomsmith"/>-->
<!--        <parameter name="password" value="SuperSecretPassword!"/>-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="com.adam.theinternet.positiveTests">-->
<!--            </class>-->
<!--        </classes>-->
<!--    </test>-->
    
    <test name="checkBoxTest">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
        
        <class name="com.adam.theinternet.checkBoxTests"></class>
        </classes>
        
        
    </test>

</suite>
